extends layout

block content
  h1=title

  form(method='POST')
    div.form-group
      label(for='first_name') Nome:
      input#first_name.form-control(type='text', placeholder='Nome (Ex: João)' name='first_name' required value=(undefined===author ? '' : author.first_name) )
      label(for='family_name') Sobrenome:
      input#family_name.form-control(type='text', placeholder='Sobrenome' name='family_name' required value=(undefined===author ? '' : author.family_name))
    div.form-group
      label(for='date_of_birth') Data de nascimento:
      input#date_of_birth.form-control(type='date', name='date_of_birth' value=(undefined===author ? '' : author.date_of_birth_yyyy_mm_dd) )
    div.form-group
      label(for='date_of_death') Série / Turma:
      input#date_of_death.form-control(type='text', name='date_of_death' value=(undefined===author ? '' : author.date_of_death_yyyy_mm_dd) )
    button.btn.btn-primary(type='submit') Salvar

  if errors
    ul
      for error in errors
        li!= error.msg